==
function onStart()
{
$this['backendUrl'] = Backend::url('/');
}
==
<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ 'home'|page }}">Matching Scrim</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
{#            <ul class="nav navbar-nav">#}
{#                <li class="separator hidden-xs"></li>#}
{#                <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Home</a></li>#}
{#            </ul>#}
            <div class="nav-login">
                {% if user %}
                    <p>ようこそ{{ user.name }}さん</p>
                    <a data-request="onLogout">ログアウト</a>
                {% else %}
                    <a data-request="onStartDiscordAuth">Discordでログイン</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<hr/>
